body {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: #8C4CBF;
  padding: 1rem 2rem;
}
.header select {
  background: #8C4CBF;
  border: 0;
  font-size: 1.5rem;
  outline: none;
}
.header .pencil {
  margin-left: auto;
  cursor: pointer;
}
.header .grid, .header select {
  cursor: pointer;
}
.header .list {
  margin-left: 2rem;
}

.info_block {
  display: flex;
  align-items: center;
}
.info_block .img {
  width: 5rem;
  display: flex;
  border-radius: 100%;
}
.info_block .img img {
  width: 100%;
  border-radius: 100%;
}
.info_block .name {
  font-size: 1.2rem;
}

.container_c {
  flex-direction: column;
  display: flex;
  background: #A0A7E9;
  height: 100vh;
}

.body_c {
  background: #A0A7E9;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 1rem 2rem;
  height: 100vh;
  overflow-y: scroll;
}
@media only screen and (max-width: 768px) {
  .body_c {
    padding: 1rem 0.5rem;
  }
}
.body_c .message_stroke {
  display: flex;
  align-items: center;
  background: white;
  width: 100%;
  border-radius: 20px;
  margin-top: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 2rem;
}
@media only screen and (max-width: 768px) {
  .body_c .message_stroke {
    padding: 0 0.5rem;
  }
}
.body_c .message_stroke p {
  margin: auto;
  padding: 0 2rem;
}
.body_c .message_stroke .visible {
  margin-left: 2rem;
}
.body_c .message_stroke:hover {
  background: #d8d8d8;
}
.body_c::-webkit-scrollbar {
  width: 0;
}

.header_con {
  display: flex;
  background: #8C4CBF;
  justify-content: center;
  color: white;
  padding: 0.2rem 0;
}
.header_con img {
  cursor: pointer;
  padding: 1rem 2rem;
}
.header_con img:hover {
  background: rgba(141, 141, 141, 0.3098039216);
}

.two {
  justify-content: space-evenly;
}

.container_con {
  background: #C4CAFB;
}

.body {
  width: 50rem;
  margin: auto;
  overflow: hidden;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  background: #C4CAFB;
}
@media only screen and (max-width: 768px) {
  .body {
    max-width: 40rem;
    width: 100%;
  }
}
.body .b {
  overflow: scroll;
  width: 100%;
  padding-bottom: 10rem;
}
.body .b .left {
  margin-left: auto;
  word-wrap: break-word;
  background: white;
  padding: 2rem 1rem;
  width: 20rem;
  border-radius: 20px;
  font-size: 1.5rem;
}
.body .b .left:hover {
  cursor: pointer;
  background: #dbdbdb;
}
@media only screen and (max-width: 768px) {
  .body .b .left {
    width: 15rem;
    font-size: 1.2rem;
  }
}
.body .b .right {
  margin-right: auto;
  word-wrap: break-word;
  background: white;
  padding: 2rem 1rem;
  width: 20rem;
  border-radius: 20px;
  font-size: 1.5rem;
}
.body .b .right:hover {
  cursor: pointer;
  background: #dbdbdb;
}
@media only screen and (max-width: 768px) {
  .body .b .right {
    width: 15rem;
    font-size: 1.2rem;
  }
}

.intext {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  border-radius: 20px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .intext {
    padding: 1rem 0;
  }
}
.intext textarea {
  outline: 0;
  border: 0;
  width: 25rem;
  margin: 0 10rem 0 2rem;
}
@media only screen and (max-width: 768px) {
  .intext textarea {
    width: 10rem;
  }
}
.intext img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .intext img {
    width: 3rem;
  }
}

.status {
  font-family: sans-serif;
  color: #777777;
  position: absolute;
  top: 7rem;
  left: 1rem;
  text-align: center;
}

.html {
  overflow: scroll;
}

.container {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .login {
  background: #C4CAFB;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  font-family: sans-serif;
  border-radius: 20px;
}
.container .login h2 {
  font-size: 1.6rem;
}
.container .login div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.container .login div input {
  padding: 0.5rem 1.25rem;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 10px;
}
.container .login a {
  display: block;
  cursor: pointer;
  padding: 1rem 4rem;
  background: white;
  margin-top: 4rem;
  border-radius: 20px;
  font-size: 1.5rem;
  width: -moz-max-content;
  width: max-content;
}
.container .login a:hover {
  background: #e6e6e6;
}

.container_p {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #C4CAFB;
  height: 100vh;
  font-family: sans-serif;
}
.container_p .header_p {
  width: 100%;
}
.container_p .header_p img {
  cursor: pointer;
  padding: 0.625rem 1rem;
}
.container_p .body_p {
  border-radius: 0.9375rem;
  background: white;
  padding: 1rem 2.5rem;
}
.container_p .body_p .leave {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.container_p .body_p .info {
  display: flex;
  align-items: center;
}
.container_p .body_p .info img {
  width: 10rem;
  cursor: pointer;
}
.container_p .body_p .cont div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font-size: 1.4rem;
}
.container_p .body_p .cont div input,
.container_p .body_p .cont div select {
  padding: 0.5rem 1.25rem;
  border: 0;
  outline: 0;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background-color: #C4CAFB;
  border-radius: 10px;
}
.container_p .body_p .cont div label {
  cursor: pointer;
}
.container_p .body_p a {
  cursor: pointer;
  padding: 1rem 4rem;
  background: #C4CAFB;
  margin: auto;
  margin-top: 2rem;
  border-radius: 20px;
  font-size: 1.5rem;
  display: block;
  width: -moz-max-content;
  width: max-content;
}
.container_p .body_p a:hover {
  background: #e6e6e6;
}

.searchModal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: rgba(87, 87, 87, 0.4862745098);
}
.searchModal .modal {
  background: #C4CAFB;
  border-radius: 20px;
  padding: 2.875rem 3.4375rem;
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 80%;
}
.searchModal .modal .remove {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
.searchModal .modal .search_container div {
  background: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding: 1rem 3.125rem;
  border-radius: 30px;
}
.searchModal .modal .search_container div input {
  outline: none;
  font-size: 1.5rem;
  border: 0;
  padding-right: 1rem;
  width: 100%;
}
.searchModal .modal .search_container div img {
  cursor: pointer;
}
.searchModal .modal .line {
  background: black;
  height: 2px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}
.searchModal .modal .body_s {
  overflow-y: scroll;
  height: 90%;
}
.searchModal .modal .body_s .searchperson {
  display: flex;
  align-items: center;
  background: white;
  margin: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.searchModal .modal .body_s .searchperson img {
  width: 10rem;
}
.searchModal .modal .body_s .searchperson:hover {
  background: #e6e6e6;
}
.searchModal .modal .body_s::-webkit-scrollbar {
  width: 0;
}

.m {
  position: absolute;
  padding: 1rem;
  background: #8C4CBF;
  top: 5rem;
}
.m div {
  padding: 0.5rem 1rem;
  background: white;
  width: 10rem;
  border-radius: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
}
.m div:hover {
  background: #e4e4e4;
}/*# sourceMappingURL=sass.css.map */