.header_con
    display: flex
    background: $bg-violet
    justify-content: center
    align-items: center
    color: white
    height: 5rem
    padding: .2rem 2rem
    .mess
        font-family: sans-serif
        font-size: 1.2rem
        color: black
        margin-right: auto
        background: $bg-blue
        padding: .5rem .7rem
        border-radius: 25px
        cursor: pointer
    img
        cursor: pointer
        padding: 1rem 2rem
        &:hover
            background: #8d8d8d4f
.two
    justify-content: space-evenly