.info_block
    display: flex
    align-items: center
    .img
        width: 5rem
        display: flex
        border-radius: 100%
        img
            width: 100%
            border-radius: 100%
    .name
        font-size: 1.2rem
