.searchModal
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    display: flex
    justify-content: center
    background: #5757577c
    .modal
        background: $bg-blue-light
        border-radius: 20px
        padding: 2.875rem 3.4375rem
        position: relative
        top: 5rem
        overflow: hidden
        height: 80%
        .remove
            position: absolute
            right: 1rem
            top: 1rem
            cursor: pointer
        .search_container
            div
                background: white
                border: 1px solid black
                display: flex
                align-items: center
                padding: 1rem 3.125rem
                border-radius: 30px
                input
                    outline: none
                    font-size: 1.5rem
                    border: 0
                    padding-right: 1rem
                    width: 100%
                img
                    cursor: pointer
        .line
            background: black
            height: 2px
            width: 90%
            margin: auto
            margin-top: 2rem
        .body_s
            overflow-y: scroll
            height: 88%
            .searchperson
                display: flex
                align-items: center
                background: white
                margin: .5rem 1rem
                border-radius: 10px
                cursor: pointer
                img
                    width: 10rem
                &:hover
                    background: #e6e6e6
            &::-webkit-scrollbar 
                width: 0
        p
            text-align: center
            padding: .3125rem .625rem
            border-radius: 30px
            width: max-content
            margin: auto
            &:hover
                background: #ffffff86
                cursor: pointer
